name: Python Version Check

on:
  push:
  pull_request:

jobs:
  check-python:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Print Python Version
        run: python --version
